################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/New Employee Information ToTextFile/FileContentIndex/read.lock
/.vs/New Employee Information ToTextFile/FileContentIndex/302a3b20-8ea1-4b97-9327-031be9ba22fb.vsidx
